html,
body {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: "Source Sans Pro";
}

.site {
    height: 100%;
    overflow-x: hidden;
    background-color: #EDEDED;
    z-index: -1;
}

/* --------------------------------- BANNER --------------------------------- */

.section12 {
    height: 260vh;
    width: 100vw;
    position: relative;
}

.section12::before {
    content: "";
    display: block;
    width: 100%;
    height: 70%;
    background-image: url("../IMG/Vague2.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.section12__title {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.section12__title h1 {
    font-weight: 600;
    font-size: 10vw;
    letter-spacing: 3px;
    width: fit-content;
    color: #1D1D1B;
    width: 76vw;
}

.section12__topbar {
    position: absolute;
    display: flex;
    top: 15px;
    right: 20px;
    width: 300px;
    justify-content: flex-end;
}

.section12__topbar a {
    align-self: center;
    font-weight: 600;
    font-size: 1.1rem;
    color: #3A3232;
    margin-right: 15px;
}


/* ------------------------------- BURGER-MENU ------------------------------ */

#burger-icon.burger {
    cursor: pointer;
}

.burger:after,
.burger:before,
.burger div {

    background-color: #3A3232;
    content: '';
    display: block;
    height: 3px;
    width: 29px;
    margin: 5px 0;
    transition: all .2s ease-in-out;
}

.burger__icon--active {
    overflow-y: hidden;
}

.burger__icon--active:before {
    transform: translateY(12px) rotate(135deg);
}

.burger__icon--active:after {
    transform: translateY(-12px) rotate(-135deg);
}

.burger__icon--active div {
    transform: scale(0);
}

.section12__gestion {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 22vh;
}

.section12__profil, .section12__gestion__profil, .section12__admin {
    width: 70vw;
    height: 380px;
    margin: 0 auto;
    padding: 15px 30px;
    background-color: #F5F5F5;
    border-radius: 3%;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
}

.section12__profil h2, .section12__gestion__profil h2, .section12__admin h2{
    font-weight: 800;
    padding-top: 15px;
    font-size: 1.3rem;
    width: 130px;
    float: left;
}

.section12__profil p {
    padding-top: 15px;
    float: right;
    font-size: 1.3rem;
    font-weight: 600;
}

.section12__profil__pp, .section12__gestion__profil__pp {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    overflow: hidden;
    margin: auto;
    margin-top: 80px;
}

.section12__profil__pp img {
    background-size: cover;
    background-repeat: no-repeat;
}

.section12__profil__infos, .section12__gestion__profil__infos {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
    height: 50px;
}

.section12__gestion__profil__infos, .section12__admin__utilisateur {
    margin-top: 50px;
}

.section12__admin__utilisateur form{
    display: inline;
    margin: 5px;
}

.section12__admin__utilisateur a {
    color: #56202A;
}

.section12__admin__utilisateur a:hover {
    color: #9b3749;
}

.section12__profil span{
    font-weight: 600;
    font-size: 0.95rem;
}

.section12__profil a {
    font-size: 0.7rem;
    margin-top: 58px;
    float: right;
    color: #56202A;
}

.section12__admin button {
    width: 75px;
    height: 20px;
    color: #56202A;
}

.section12__admin input {
    display: none;
}

.section12__gestion__profil__pp {
    background-color: #42ab9f3f;
}

.section12__gestion__profil .input_pp {
    width: 100%;
    padding-top: 50px;
    padding-left: 2px;
    transform: translateY(-173%);
}

.section12__gestion__profil span {
    border-bottom: 1px solid black;
    width: 120px;
}

.section12__gestion__profil .input-data2 {
    height: 40px;
    width: 100%;
    position: relative;
    margin-top: 30px;
}

.section12__gestion__profil .input-data2 input {
    height: 100%;
    width: 80%;
    border: none;
    font-size: 15px;
    border-bottom: 1px solid #000000;
    background: transparent;
    color: black;
}

.input-data2 input:focus~label, .input-data2 textarea:focus~label, .input-data2 textarea:valid~label, .input-data2 input:valid~label {
    opacity: 0;
}

.section12__gestion__profil .input-data2 label {
    position: absolute;
    bottom: 0;
    color: #000000;
    font-weight: 600;
    left: 0;
    font-size: 0.95rem;
    pointer-events: none;
}

.section12__gestion__profil .input-data2 .underline2 {
    position: absolute;
    bottom: -1px;
    height: 1.5px;
    width: 80%;
}

.input-data2 .underline2:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #42AB9E;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.input-data2 input:focus~.underline2:before, .input-data2 textarea:focus~.underline2:before, .input-data2 textarea:valid~.underline2:before, .input-data2 input:valid~.underline2:before {
    transform: scaleX(1);
}

input:focus-visible {
    outline: none;
}

.section12__gestion__profil button {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 0.9rem;
    color: white;
    margin-top: 50px;
    width: 80px;
    height: 40px;
    border-radius: 3px;
    border: none;
    background-color: #3B877E;
}

/* ------------------------------- mobile-wide ------------------------------ */
@media (min-width: 575.98px) and (max-width: 767.98px) {
    .section12 {
        height: 200vh;
    }

    .section12::before {
        height: 80%;
    }

    .section12__title {
        top: 12%;
        left: 50%;
    }

    .section12__title h1 {
        font-size: 4rem;
    }

    .section12__title img {
        width: 400px;
    }

    .section12__gestion {
        height: 600px;
        margin-top: 33vh;
    }

    .section12__profil, .section12__gestion__profil {
        width: 80vw;
        height: 250px;
        padding: 25px 45px;
    }

    .section12__profil h2, .section12__gestion__profil h2 {
        font-size: 1.5rem;
    }

    .section12__profil h2, .section12__profil p, .section12__gestion__profil h2 {
        padding-top: 0;
    }

    .section12__profil__pp, .section12__gestion__profil__pp {
        margin: 0;
        position: absolute;
        margin-top: 50px;
    }

    .section12__profil__infos {
        margin: 0;
        transform: translate(10%, 160%);
    }

    .section12__profil a {
        transform: translateY(600%);
    }

    .section12__gestion__profil__infos {
        height: 70px;
        margin-top: 0;
        transform: translate(10%, 80%);
    }

    .section12__gestion__profil button {
        margin: 0;
        float: right;
        transform: translateY(250%);
    }

    .section12__gestion__profil .input-data2 {
        width: 50%;
    }
}

/* --------------------------------- tablet --------------------------------- */
@media (min-width: 767.98px) {

    .section12 {
        height: 200vh;
    }

    .section12::before {
        height: 82%;
    }

    .section12__title {
        top: 13%;
        left: 48%;
        width: 85%;
    }

    .section12__title h1 {
        font-size: 4rem;
    }

    .section12__title img {
        width: 400px;
    }

    .section12__gestion {
        height: 600px;
        margin-top: 33vh;
    }

    .section12__profil, .section12__gestion__profil {
        width: 80vw;
        height: 250px;
        padding: 25px 45px;
    }

    .section12__profil h2, .section12__gestion__profil h2 {
        font-size: 1.5rem;
    }

    .section12__profil h2, .section12__profil p, .section12__gestion__profil h2 {
        padding-top: 0;
    }

    .section12__profil__pp, .section12__gestion__profil__pp {
        margin: 0;
        position: absolute;
        margin-top: 50px;
    }

    .section12__profil__infos {
        margin: 0;
        transform: translate(5%, 160%);
    }

    .section12__profil a {
        transform: translateY(550%);
        font-size: 0.8rem;
    }

    .section12__gestion__profil__infos {
        height: 70px;
        margin-top: 0;
        transform: translate(5%, 80%);
    }

    .section12__gestion__profil button {
        margin: 0;
        float: right;
        width: 90px;
        transform: translateY(250%);
    }

    .section12__profil span, .section12__gestion__profil .input-data2 label {
        font-size: 1.1rem;
    }

    .section12__gestion__profil .input-data2 {
        width: 50%;
    }

}

/* --------------------------------- desktop -------------------------------- */
@media (min-width: 1065px) {

    .section12 {
        height: 220vh;
    }

    .section12::before {
        height: 76%;
    }

    .section12__topbar {
        right: 50px;
    }

    .section12__title {
        width: 90vw;
        left: 50%;
        top: 10%;
    }

    .section12__title h1 {
        font-size: 4.5rem;
    }

    .section12__title img {
        width: 550px;
    }

    .section12__gestion {
        width: 70%;
        height: 700px;
        margin: auto;
        transform: translateY(30%);
    }

    .section12__profil, .section12__gestion__profil {
        width: 100%;
        height: 300px;
    }

    .section12__gestion__profil h2, .section12__profil h2 {
        font-size: 1.6rem;
    }

    .section12__profil p {
        font-size: 1.4rem;
    }

    .section12__profil__pp, .section12__gestion__profil__pp {
        height: 150px;
        width: 150px;
        margin-top: 65px;
    }

    .section12__profil__infos {
        transform: translate(12%, 155%);
        height: 68px;
    }

    .section12__profil__infos span, .section12__gestion__profil .input-data2 label {
        font-size: 1.3rem;
    }

    .section12__profil a {
        transform: translateY(650%);
    }

    .section12__gestion__profil__infos {
        transform: translate(12%, 108%);
        height: 80px;
    }

    .section12__gestion__profil button {
        transform: translateY(320%);
    }

    .section12__gestion__profil .input-data2 {
        width: 40%;
    }

    .section12__gestion__profil .input_pp {
        width: 80%;
        margin: 10%;
        padding-top: 50px;
        transform: translateY(-216%);
    }
}


/* ------------------------------ desktop-large ----------------------------- */
@media (min-width: 1560px) {

    .section12::before {
        height: 75%;
    }
    .section12__topbar {
        right: 45px;
    }

    .section12__title {
        width: 75vw;
    }

    .section12__title h1 {
        font-size: 6.5rem;
    }

    .section12__title img {
        width: 650px;
    }
    
    .section12__topbar a {
        font-size: 1.2rem;
    }

    .section12__gestion {
        height: 840px;
    }

    .section12__gestion__profil, .section12__profil {
        height: 350px;
    }

    .section12__gestion__profil h2, .section12__profil h2 {
        font-size: 2rem;
        width: 150px;
    }

    .section12__profil p {
        font-size: 1.7rem;
    }

    .section12__profil__pp, .section12__gestion__profil__pp {
        height: 200px;
        width: 200px;
        margin-top: 65px;
    }

    .section12__gestion__profil .input_pp {
        width: 60%;
        margin: 20%;
        padding-top: 50px;
        transform: translateY(-285%);
    }

    .section12__profil__infos span, .section12__gestion__profil .input-data2 label {
        font-size: 1.6rem;
    }

    .section12__profil__infos {
        transform: translate(16%, 152%);
        height: 80px;
    }

    .section12__gestion__profil__infos {
        transform: translate(16%, 83%);
        height: 110px;
    }

    .section12__profil a {
        transform: translateY(630%);
        font-size: 1.1rem;
    }

    .section12__gestion__profil button {
        width: 120px;
        height: 50px;
        font-size: 1.1rem;
        transform: translateY(280%);
    }

}